body {
  color: #1f2937;
  font-family: 'Inter', sans-serif;
}

.hidden {
  display: none;
}

.firstContaner {
  display: flex;
  justify-content: space-between;
  border: 1px solid #D4D0CB;
  height: 70px;
  border-radius: 18px;
  margin-bottom: 50px;
}

.player {
  max-width: 500px;
  width: 500px;
  background: white;
  margin-top: 15px;
  margin-left: 50px;
}

.player-track-meta {
  text-align: center;
}

.player-track-meta p {
  margin: 0;
  font-size: 20px;
  color: #0e0e0e;
  font-weight: 700;
}

.player-track-meta span {
  font-size: 16px;
  font-weight: 400;
  padding: 0 2px;
  position: relative;
  top: 1px;
  color: #a3a3a3;
}

.player-controls {
  display: flex;
  align-items: center;
}

.player-play-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.icon-container {
  fill: transparent;
  stroke: none;
}

.player-play-btn:hover {
  fill: #444444;
}

.player-play-btn svg {
  color: #0e0e0e;
  position: relative;
  left: 0.5px;
  width: 36px;
  height: 36px;
  display: block;
}

.player-play-btn:hover svg {
  color: #ffffff;
}

.player-timeline {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.player-progress {
  display: flex;
  postion: relative;
  height: 6px;
  background: #dbdbdb;
  border-radius: 25px;
  margin: 0 5px;
  flex: 10;
  flex-basis: 100%;
  overflow: hidden;
}

.player-progress-filled {
  height: 6px;
  background: #0e0e0e;
  flex: 0;
  flex-basis: 0%;
  border-radius: 25px;
}

.player-time {
  padding: 2px 5px;
}

.player-volume-container {
  width: 15%;
}
.player-volume {
  height: 28px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}

.player-volume:focus {
  outline: none;
}

.player-volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #0e0e0e;
  border-radius: 10px;
}

.player-volume::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100px;
  border: none;
  background: #0e0e0e;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

.player-volume:focus::-webkit-slider-runnable-track {
  background: #0e0e0e;
}

.player-volume::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #0e0e0e;
  border-radius: 10px;
}

.player-volume::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 100px;
  border: none;
  background: #0e0e0e;
  cursor: pointer;
  margin-top: -4px;
}

.player-volume::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #0e0e0e;
  border-radius: 10px;
}

.player-volume::-ms-fill-lower {
  background: #0e0e0e;
  border-radius: 10px;
}

.player-volume::-ms-fill-upper {
  background: #0e0e0e;
  border-radius: 10px;
}

.player-volume::-ms-thumb {
  margin-top: 1px;
  height: 15px;
  width: 15px;
  border-radius: 5px;
  border: none;
  background: #0e0e0e;
  cursor: pointer;
}

.player-volume:focus::-ms-fill-lower {
  background: #38bdf8;
}

.player-volume:focus::-ms-fill-upper {
  background: #38bdf8;
}
.download {
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* background-color: white; */
  color: #008cba;
  border: 2px solid #008cba;
}

.secondontaner {
  margin-top: 25px;
  margin-bottom: 20px;
}

.tab {
  overflow: hidden;
  margin-left: 15px;
}

/* Style the buttons inside the tab */
.tab button {
  margin-right: 5px;
  width: 150px;
  background-color: #F4F4F4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  /* font-weight: bold; */
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #0078d4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: bold;
  color: #ffffff;
}

/* Create an active/current tablink class */
.tab button.active {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #0078d4;
  font-weight: bold;
  color: #ffffff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #D4D0CB;
  border-radius: 15px;
}

.thirdContaner {
  margin-bottom: 50px;
  display: flex;
  margin-left: 20px;
}

.color1 {
  margin-right: 10px;
  width: 15px;

  margin-top: 3px;
  height: 15px;
  border-radius: 25px;
  background: rgb(255, 238, 0);
}
.color2 {
  margin-right: 10px;
  margin-top: 3px;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  background: rgb(110, 110, 109);
}
.color3 {
  margin-top: 3px;
  width: 15px;
  margin-right: 10px;
  height: 15px;
  border-radius: 25px;
  background: rgb(107, 18, 18);
}
.names {
  display: flex;
}
.fourthContaner {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #D4D0CB;
  height: 220px;
  border-radius: 12px;
  padding: 20px;
}

.accuracy-progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(hotpink calc(var(--AccuracyScore) * 1%), pink 0);*/
  animation: progress 2s 1 forwards;
}
.accuracy-progress-bar-pro {
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  /*background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(hotpink calc(var(--AccuracyScore) * 1%), pink 0);*/
  animation: progress 2s 1 forwards;
}

.accuracy-progress-bar::before {
  content: counter(percentage) '%';
  animation: progress 2s 1 forwards;
}

.progress{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}